#
# Copy this file to /etc/systemd/system/ and run:
#   systemctl enable flybynight.service
# to enable LEDscape to start on each boot.
#

[Unit]
Description=Test runner for flybynight

[Service]
WorkingDirectory=/home/pi/EightByEight/test
ExecStart=/home/pi/EightByEighty/test/run-eightbyeight-tests.sh
KillMode=process

[Install]
WantedBy=multi-user.target
